.agreement {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkLabel {
    display: flex;
    gap: 3px;
  }
  
  .checkLabel > span {
    color: #444444;
  }
  
  .necessary {
    color: #ffd900;
  }
  
  .button {
    padding: 10px 50px;
    border: none;
    border-radius: 40px;
  }
  
  .checked {
    background-color: #ffd900;
  }
  .notChecked {
    background-color: #444444;
  }